.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: var(--gunmetal);
    color: white;
    font-weight: 600;
}

.header img {
    margin-left: 15px;
}
