.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: var(--gunmetal);
    color: white;
    font-weight: 600;
    z-index: 999;
}

.header img {
    margin-left: 15px;
}

.home {
    cursor: pointer;
}
