.content {
    width: 100%;
    height: calc(100% - 100px);
    padding-top: 50px;
    position: relative;
}

mat-grid-tile {
    background: var(--gunmetal);
    height: 25%;
    width: 25%;
    cursor: pointer;
}

.options-div {
    position: absolute;
    width: 90%;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
}

.module {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 10px;
    font-size: 50px;
    color: (--gunmetal);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.condo {
    background-image: url("../../../assets/images/condominios.jpg");
}

.design {
    background-image: url("../../../assets/images/housedesign.jpg");
}

.arquitect {
    background-image: url("../../../assets/images/arquitectassign.jpg");
}