.background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(127, 127, 127, 0.8);
}

.config-container {
    width: 80%;
    height: 90%;
    vertical-align: middle;
    margin: 0 auto;
    margin-top: 2.5%;
    display: flex;
}

.config-side {
    flex: 1;
    background-color: var(--light-gray);
    border-radius: 10px 0 0 10px;
    position: relative;
    padding: 10px;;
}

.canvas-side {
    flex: 2;
    background-color: #FFF;
    border-radius: 0 10px 10px 0;
}

.canvas {
    border-radius: 0 10px 10px 0;
}

.phase-container {
    margin-left: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 1000;
    position: relative;
    width: 80%;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.phase-container .phase {
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    border-color: var(--dark-cyan);
}

.phase-container .phase-active {
    background-color: var(--dark-cyan);
}

.phase-explanation {
    margin-top: 16px;
    padding-left: 16px;
    padding-right: 24px;
}

.phase-explanation .phase-header {
    margin-top: 22px;
    margin-bottom: 16px;
    font-size: 1.5rem;
    font-weight: 600;
}

.mat-radio-group {
    margin-top: 16px;
    margin-left: 16px;
    display: inline-grid;
}

.mat-radio-button ~ .mat-radio-button {
    margin-top: 16px;
}

.button {
    border: 2px solid var(--dark-cyan);
    color: var(--dark-cyan);
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    outline:none;
}

.button:hover {
    color: white;
    background-color: var(--dark-cyan);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.next-button {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.back-button {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

.first-floor {
    margin-top: 10px;
}

.first-floor > * {
    margin-left: 16px;
}

.sizeSelector {
    width: 96%;
    margin-left: 2%;
    margin-top: -20px;
    display: flex;
    vertical-align: middle;
}

.sizeSelector > .mat-slider {
    flex: 3;
}

.sizeSelector > h4 {
    text-align: left;
    flex: 1;
    margin-top: 10px;
}

.checkbox {
    font-size: 1em;
    margin-top: 20px;
    margin-left: 16px;
}