.phase-explanation {
    margin-top: 16px;
    margin-bottom: 16px;
    padding-right: 24px;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

.sizeSelector {
    width: 96%;
    margin-left: 2%;
    margin-top: 0;
    display: flex;
    vertical-align: middle;
}

.sizeSelector ~ .sizeSelector {
    margin-top: -10px;
}

.sizeSelector > .mat-slider {
    flex: 3;
}

.sizeSelector > h4 {
    text-align: left;
    flex: 1;
    margin-top: 10px;
}

.addpanel {
    margin-top: 1rem;
}

.addpanel {
    background: var(--gunmetal);
}

.buttons-div {
    width: 100%;
    margin-top: 16px;
}

.button {
    float: right;
}

.button.add {
    background-color: var(--orange-soda);
}

.button.cancel {
    margin-right: 16px;
}


.checkbox {
    font-size: 1em;
    margin-top: 20px;
}

.turn {
    float: right;
    color: var(--gunmetal);
    background-color: white;
}
.kind-div {
    margin-top: 20px !important;
}