<app-header></app-header>
<div class="content">
    <div class="caption-header">
        <h2>Proyectos de Condominios</h2>
        <div class="search">
            <input type="text" name="search" [(ngModel)]="searchText" placeholder="Búsqueda por nombre.." (input)="filter()"></div>
    </div>
    <div class="condo-projects">
        <div class="condo-block" *ngFor="let condo of filteredCondos">
            <div class="condo-block-content info">
                <h3>{{condo.name}}</h3>
                <h4>{{condo.provincia}},
                {{condo.canton}},
                {{condo.distrito}}</h4>
            </div>
            <div class="condo-block-content actions">
                <div class="block-design-access">
                    <button mat-flat-button class="action-button" style="margin-top: 16px;" (click)="editCondo(condo)">Editar</button>
                    <button mat-flat-button class="action-button" (click)="deleteCondo(condo)">Eliminar</button>
                </div>
            </div>
        </div>
        <div class="condo-block" (click)="goToAdding()">
            <div class="condo-block-content condo-plus">
                <i class="fa fa-plus fa-4x"></i>
            </div>
        </div>
    </div>
</div>