.content {
    width: 100%;
    height: calc(100% - 100px);
    padding: 16px;
    padding-top: 66px;
    position: relative;
}

.condo-projects {
    height: 100%;
    width: 100%;
}

.condo-block {
    padding: 16px;
    width: 215px;
    height: 175px;
    float: left;
    vertical-align: middle;
}

.condo-block-content {
    cursor: pointer;
    text-align: center;
    align-items:center;
    justify-content:center;
    color: white;
    padding: 16px;
    width: 100%;
    height: 100%;
    background: var(--orange-soda);
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 2.5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 2.5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 2.5px 0px rgba(0,0,0,0.75);
}

.condo-block-content:hover {
    background: var(--lightgrey);
    color: var(--orange-soda);
}

.condo-plus {
    background: var(--gunmetal);
    color: white;
    text-align: center;
    vertical-align: middle;
}
.condo-plus > i {
    margin-top: auto;
    margin-bottom: auto;
    top: 50%;
    position: relative;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


.caption-header {
    width: 100%;
    height: 100px;
}

.checkbox ~ .checkbox {
    margin-left: 16px;
}

.caption-header input[type=text] {
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    background-color: wheat;
    border-radius: 2px;
    width: 250px;
  }

  .search {
      margin-left: 16px;
    width: 100%;
    position: relative;
}
.search > * {
    float: left;
}