.content {
    width: 100%;
    height: calc(100% - 100px);
    padding: 16px;
    padding-top: 66px;
    position: relative;
}

.project-info {
    width: 100%;
}

form
{
  display: block;
  width: 60%;
  margin: 0 auto;
  overflow: hidden;
  background: #FFF;
  border: 1px solid var(--gunmetal);
  border-radius: 5px;
}

form > div
{
  display: inline-block;
  width: 100%;
}

form > div > label
{
  display: block;
  padding: 20px 20px 10px;
  width: 100%;
  font-family: Source Sans Pro, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--gunmetal);
  cursor: pointer;
}

form > div.column-2, form > div.column-4 { box-shadow: 1px 1px var(--gunmetal) }

form > div.column-3 { box-shadow: 1px 0px var(--gunmetal) }

form > div.column-2 { width: 100% }
form > div.column-3 { width: 50% }
form > div.column-4 { width: 50% }

form > div > label > input
{
  display: inline-block;
  position: relative;
  width: 100%;
  height: 27px;
  line-height: 27px;
  margin: 5px -5px 0;
  padding: 7px 5px 3px;
  border: none;
  outline: none;
  border-radius: 3px;
  background: transparent;
  font-size: 16px;
  font-weight: 200;
  opacity: .85;
  transition: opacity .3s;
}

form > div > label > select
{
  display: block;
  width: 100%;
  margin: 16px 0 6px;
  padding: 0;
  background: transparent;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 200;
  opacity: .85;
}

form > div > label > input:focus, form > div > label > select:focus
{
  opacity: 1;
}

.save-button {
  color: white;
  background-color: var(--orange-soda);
  width: 200px;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;

}