.header {
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 60px;
    display: flex;
    align-items: center;
    background-color: var(--gunmetal);
    color: white;
    font-weight: 600;
    -moz-box-shadow:    0px 0px 10px 0px hsla(205, 50%, 16%, 1);
    -webkit-box-shadow: 0px 0px 10px 0px hsla(205, 50%, 16%, 1);
    box-shadow:         0px 0px 10px 0px hsla(205, 50%, 16%, 1);
}

.header img {
    margin-left: auto;
    margin-right: auto;
    top: 15px;
    position: absolute;
    left: 0;
    right: 0;
}
