.header {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 60px;
    display: flex;
    align-items: center;
    background-color: var(--gunmetal);
    color: white;
    font-weight: 600;
}

.header img {
    margin-left: auto;
    margin-right: auto;
    top: 15px;
    position: absolute;
    left: 0;
    right: 0;
}
